@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-primary: var(--font-geist);
  --font-secondary: var(--font-open-sans);
  --font-mono: var(--font-geist-mono);

  --transition: all .3s ease;

}


@theme {
  --color-blue: #3F89FF;
  --color-off: #F1F7FF;
  --color-primary: #004ADE;
  --color-gray: #67758F;
  --color-heading: #032656;
  --color-para: #00000099;
  --border-blue: #3F89FF;
  --color-chip: #3F89FF1A;
  --color-shade: #DFECFF;
  --color-sub:#000000E5;
  --color-gray: #67758F;

  /* Font  */

  --text-xs: 0.75rem;
  /* 12px */
  --text-sm: 0.875rem;
  /* 14px */
  --text-base: 1rem;
  /* 16px */
  --text-lg: 1.125rem;
  /* 18px */
  --text-xl: 1.25rem;
  /* 20px */
  --text-2xl: 1.5rem;
  /* 24px */
  --text-3xl: 1.875rem;
  /* 30px */
  --text-4xl: 2.25rem;
  /* 36px */
  --text-5xl: 2.5rem;
  /* 40px */
  --text-6xl: 3.375rem;
  /* 56px */

}


.font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}

.font-mono {
  font-family: var(--font-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-secondary);
}

@utility container {
  margin-inline: auto;
  padding-inline: 0.75rem;

  @media (width >=640px) {
    max-width: 640px;
  }

  @media (width >=768px) {
    max-width: 768px;
  }

  @media (width >=800px) {
    max-width: 850px;
  }

  @media (width >=1024px) {
    max-width: 1024px;
  }

  @media (width >=1280px) {
    max-width: 1200px;
    /* Custom */
  }

  @media (width >=1536px) {
    max-width: 1600px;
    /* Custom */
  }
}

/* @media (width <=1560px) {
  :root {
    --text-heading: 3.0rem;
    --text-headingSub: 2.1rem;
    --text-display: 1.33rem;
    --text-displayOp: 1.275rem;
    --text-secondary: 1.625rem;
    --text-navbar: 1.075rem;
  }
} */

.animate-diagonal-travel {
  animation: diagonal-travel 4.5s ease-in-out infinite alternate;
}

.bx_ptrn {
  background:
    linear-gradient(rgba(63, 137, 255, 0.06) 1px, transparent 0),
    linear-gradient(90deg, rgba(63, 137, 255, 0.06) 1px, transparent 0);
  background-size: 90px 90px;
}

@keyframes diagonal-travel {
  from {
    left: 100%;
    top: 0%;
  }

  to {
    left: 0%;
    top: 100%;
  }
}