@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* --font-primary: var(--font-geist);
  --font-secondary: var(--font-open-sans);
  --font-mono: var(--font-geist-mono); */
  --color-primary: #004ADE;
  --text-gray: #67758F;
  --text-heading-dark: #032656;
  --border-blue: #3F89FF;
  --transition: all .3s ease;
}
.font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}

.font-mono {
  font-family: var(--font-mono);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } 
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-secondary);
}

@layer utilities {
  .container {
    @apply mx-auto w-full;
    max-width: 1336px;
    padding-left: 12px;
    padding-right: 12px;
  }
    @media (min-width: 1800px) {
    .container {
      max-width: 1796px;
    }
  }
}

.animate-diagonal-travel {
  animation: diagonal-travel 4.5s ease-in-out infinite alternate;
}
@keyframes diagonal-travel {
    from {
      left: 100%;
      top: 0%;
    }
    to {
      left: 0%;
      top: 100%;
    }
  }